<html>
    <head>
        <title>Auth Page</title>
    </head>
    <body>
        <a href="/login" style="outline-style: none;">Login</a><br><br>
        <a href="/register" style="outline-style: none;">Register</a>
    </body>
</html>