<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Todo Home</title>
        <link rel="stylesheet" href="./static/css/style.css">
    </head>
    <body>
        <!-- Nav Bar -->
        <%- include("partials/nav", {username:username,picture:picture}) %>
        <div id="todo-container" style="display: flex; margin-top: 10%;">
            <section style="width: 50%;">
                <h1 style="text-align: center;">Todo List</h1>
                <ul id="todo-list">
                </ul>
            </section>
            <section style="width: 50%;">
                <h1>TODO FROM</h1>
                <input type="text" placeholder="Title" name="todo_title" id="todo-title"><br><br>
                <textarea name="todo_text" id="todo-text" cols="30" rows="10" placeholder="Description"></textarea><br><br>
                <button type="button" name="todo_add_btn" id="todo-add-btn" onclick="addTask()">Add Item</button><br/><br/>
            </section>
        </div>
        <script src="./static/js/script.js">
        </script>
    </body>
</html>